{% extends './base.html' %}
{% load static %}

{% block title %} Add new URL page {% endblock title %}
        
{% block content %}

    <h1 class="text-center m-4">Add new URL</h1>

    <div class="d-flex justify-content-around p-1">
        <div class="bg-light rounded border border-secondary">
            <form method="post" class="m-4">
                {% csrf_token %}

                <div class="form-group">
                    <label>URL</label>
                    <input class="form-control" type="text" required name="url">
                </div>

                <div class="form-group">
                    <label>Interval</label>
                    <input class="form-control" type="number" required name="interval">
                    <label class="text-muted">Type interval by time you want. eg: you want 1 min then type 1</label>
                </div>

                <br>

                <div class="d-flex justify-content-around">
                    <button class="btn btn-primary btn-block w-100">submit</button>
                </div>
            </form>

            <div class="text-center">
                <a href="{% url 'home' %}" class="text-dark">
                    Go back
                </a>
            </div>
        </div>
    </div>

{% endblock %}