{% extends './base.html' %}
{% load static %}

{% block title %} Home page {% endblock title %}
        
{% block content %}
    <style>
        .box {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            justify-content: space-around;
            width: 30%;
        }
        @media only screen and (max-width: 1000px) {
            .box {
                width: 70%;
            }
        }
        @media only screen and (max-width: 768px) {
            .box {
                width: 100%;
            }
        }
    </style>

    <h1 class="text-center m-4">Home</h1>

    <div class="d-flex justify-content-end m-2">
        <a href="{% url 'add_new_url' %}">
            <button class="btn btn-success mx-2">
                Add new URL
            </button>
        </a>
    
        {% if request != 'AnonymousUser' %}
            <a href="{% url 'logout' %}">
                <button class="btn btn-danger mx-2">
                    Logout
                </button>
            </a>
        {% endif %}
    </div>

    <div class="bg-info w-100 p-3">
        <div class="justify-content-evenly w-100 d-flex">
            <button class="btn btn-light m-2" id="btn-all-urls" onclick="showAllURLs()">All URLs</button>
            <button class="btn btn-light m-2" id="btn-active-urls" onclick="showActiveURLs()">Active URLs</button>
            <button class="btn btn-light m-2" id="btn-deleted-urls" onclick="showDeletedURLs()">Deleted URLs</button>
        </div>
        <hr>

        <div class="d-flex w-100 flex-wrap" id="all-url-div">
            {% if urls == 'nodata' %}
                <p class="text-danger">URLs not found!</p>
            {% else %}
                {% for url in urls %}
                    <div class="bg-light p-3 m-2 text-center rounded border border-secondary box">
                        <p style="word-wrap: break-word;">
                            <b>{{ url.url }}</b>
                        </p>
                        <p>Interval: <span class="text-secondary">{{ url.interval }}m</span></p>
                        <p>Created at: <span class="text-secondary">{{ url.created_at }}</span></p>

                        {% if url.active %}
                            <div class="action-btns d-flex justify-content-around flex-wrap">
                                <a href="{% url 'edit_url' url.id %}">
                                    <button class="btn btn-outline-info">edit</button>
                                </a>
                                
                                <a href="{% url 'delete_url' url.id %}">
                                    <button class="btn btn-outline-danger">delete</button>
                                </a>
                                
                                <a href="{% url 'monitor_url' url.id %}">
                                    <button class="btn btn-outline-primary">monitor</button>
                                </a>
                            </div>
                        {% else %}
                            <p class="text-danger">This URL deleted!</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="d-flex w-100 flex-wrap" id="active-url-div">
            {% if active_urls == 'nodata' %}
                <p class="text-danger">Not found active URLs!</p>
            {% else %}
                {% for url in active_urls %}
                    <div class="bg-light p-3 m-2 text-center rounded border border-secondary box">
                        <p style="word-wrap: break-word;">
                            <b>{{ url.url }}</b>
                        </p>
                        <p>Interval: <span class="text-secondary">{{ url.interval }}m</span></p>
                        <p>Created at: <span class="text-secondary">{{ url.created_at }}</span></p>

                        <div class="action-btns d-flex justify-content-around flex-wrap">
                            <a href="{% url 'edit_url' url.id %}">
                                <button class="btn btn-outline-info">edit</button>
                            </a>
                            
                            <a href="{% url 'delete_url' url.id %}">
                                <button class="btn btn-outline-danger">delete</button>
                            </a>
                            
                            <a href="{% url 'monitor_url' url.id %}">
                                <button class="btn btn-outline-primary">monitor</button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="d-flex w-100 flex-wrap" id="deleted-url-div">
            {% if deleted_urls == 'nodata' %}
                <p class="text-danger">Not found deleted URLs!</p>
            {% else %}
                {% for url in deleted_urls %}
                    <div class="bg-light p-3 m-2 text-center rounded border border-secondary box">
                        <p style="word-wrap: break-word;">
                            <b>{{ url.url }}</b>
                        </p>
                        <p>Interval: <span class="text-secondary">{{ url.interval }}m</span></p>
                        <p>Created at: <span class="text-secondary">{{ url.created_at }}</span></p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    </div>

    <script>
        // Divs
        var divAllUrl = document.getElementById("all-url-div")
        var divActiveUrl = document.getElementById("active-url-div")
        var divDeletedUrl = document.getElementById("deleted-url-div")
        divActiveUrl.classList.add("d-none")
        divDeletedUrl.classList.add("d-none")

        // Buttons
        var btnAllUrl = document.getElementById("btn-all-urls")
        var btnActiveUrl = document.getElementById("btn-active-urls")
        var btnDeletedUrl = document.getElementById("btn-deleted-urls")
        btnAllUrl.classList.remove("btn-light")
        btnAllUrl.classList.add("btn-dark")

        function showAllURLs() {
            divAllUrl.classList.remove("d-none")
            divAllUrl.classList.add("d-block")
            divDeletedUrl.classList.add("d-none")
            divActiveUrl.classList.add("d-none")

            btnAllUrl.classList.remove("btn-light")
            btnAllUrl.classList.add("btn-dark")

            btnDeletedUrl.classList.add("btn-light")
            btnDeletedUrl.classList.remove("btn-dark")
            btnActiveUrl.classList.add("btn-light")
            btnActiveUrl.classList.remove("btn-dark")
        }

        function showActiveURLs() {
            divAllUrl.classList.add("d-none")
            divActiveUrl.classList.remove("d-none")
            divActiveUrl.classList.add("d-block")
            divDeletedUrl.classList.add("d-none")

            btnActiveUrl.classList.remove("btn-light")
            btnActiveUrl.classList.add("btn-dark")

            btnAllUrl.classList.add("btn-light")
            btnAllUrl.classList.remove("btn-dark")
            btnDeletedUrl.classList.add("btn-light")
            btnDeletedUrl.classList.remove("btn-dark")
        }

        function showDeletedURLs() {
            divDeletedUrl.classList.remove("d-none")
            divDeletedUrl.classList.add("d-block")
            divAllUrl.classList.add("d-none")
            divActiveUrl.classList.add("d-none")

            btnDeletedUrl.classList.remove("btn-light")
            btnDeletedUrl.classList.add("btn-dark")

            btnAllUrl.classList.add("btn-light")
            btnAllUrl.classList.remove("btn-dark")
            btnActiveUrl.classList.add("btn-light")
            btnActiveUrl.classList.remove("btn-dark")
        }
    </script>

{% endblock %}