{% extends './base.html' %}
{% load static %}

{% block title %} Monitor page {% endblock title %}
        
{% block content %}
    <h1 class="text-center m-4">Monitor</h1>

    <div class="d-flex justify-content-around p-1">
        <div class="bg-light rounded border border-secondary">
            <div class="p-4">
                <div class="py-2">
                    <a href="{% url 'home' %}" class="text-primary">
                        Go back
                    </a>
                </div>

                <h4>
                    <b>{{ url.url }}</b>
                </h4>
        
                <p id="second-couter" class="text-secondary"></p>
        
                <div id="error"></div>
                
                <div id="server-status"></div>
            </div>
        </div>
    </div>
    

    <script>
        window.addEventListener("load", (event) => {
            fetchServerStatus()
        });

        function couterFunc() {
            var timeleft = "{{ url.interval }}" * 60;
            var downloadTimer = setInterval(function(){
              if(timeleft <= 0){
                clearInterval(downloadTimer);
                fetchServerStatus()
              }
              document.getElementById("second-couter").innerHTML = `Only ${timeleft} secs left to fetch new response`;
              timeleft -= 1;
            }, 1000);
        }

        function fetchServerStatus() {
            $.ajax({
                url : "{% url 'monitor_url' url.id %}",
                method : 'POST',
                data : {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    url_id: "{{ url.id }}",
                },
                dataType: "json",
                success : function(data){
                    var date = new Date();
                    var current_date = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+ date.getDate();
                    var hour = tConvert(`${date.getHours()}:00`)
                    var current_time = hour +" :"+date.getMinutes()+"m :"+ date.getSeconds()+"s";
                    var date_time = current_date + " " + current_time

                    if (data.error) {
                        document.getElementById("error").innerHTML = ''
                        var p = document.createElement("p")
                        p.classList.add("text-danger");
                        p.innerHTML = data.error
                        document.getElementById("error").appendChild(p);
                    } else if (data.server == 'up') {
                        var p = document.createElement("p")
                        p.classList.add("text-success");
                        p.innerText = `${date_time} - UP`
                        document.getElementById("server-status").appendChild(p)
                        couterFunc()
                    } else if (data.server == 'down') {
                        var p = document.createElement("p")
                        p.classList.add("text-danger");
                        p.innerText = `${date_time} - Down`
                        document.getElementById("server-status").appendChild(p)
                        couterFunc()
                    }
                },
            })
        }

        function tConvert(time) {
            // Check correct time format and split into components
            time = time.toString().match(/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

            if (time.length > 1) { // If time format correct
            time = time.slice(1); // Remove full string match value
            time[5] = +time[0] < 12 ? 'AM' : 'PM'; // Set AM/PM
            time[0] = +time[0] % 12 || 12; // Adjust hours
            }
            return time.join(''); // return adjusted time or original string
        }
    </script>

{% endblock %}