{% extends './base.html' %}
{% load static %}

{% block title %} Register {% endblock title %}
        
{% block content %}
    <h1 class="text-center m-4">Register</h1>
    <p class="text-center" style="color: red; font-size: 20px; font-weight: bold">{{ error }}</p>
    
    {% if success %}
        <p class="text-center" style="color: green; font-size: 20px; font-weight: bold">{{ success }}</p>
        <a class="text-center" href="{% url 'login' %}" style="margin-bottom: 10px;">
            Click here to login
        </a>
        <br>
    {% endif %}
    
    <form method="post" class="m-4">
        {% csrf_token %}

        <label>Name</label>
        <input name="name" type="text">
        <br>
        
        <label>Password</label>
        <input required name="password" type="password">
        <br>

        <button class="btn btn-primary">submit</button>
    </form>

    <a href="{% url 'login' %}" class="text-primary m-4">already have an account</a>

{% endblock %}